# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_style = space
indent_size = 4

# Config for md
[*.{md,json,csproj}]
indent_style = space
indent_size = 2

# Config for json and json-like files
[*.{json,jsonc,js,ts,jsx,tsx}]
indent_style = space
indent_size = 2

# Config for XML files and proj file
[*.{xml,*proj,slnx}]
indent_style = space
indent_size = 2

[*.{md,txt}]
trim_trailing_whitespace = false
